html {
    scroll-behavior: smooth;
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 0px;
    font-family: Tahoma, Helvetica, Arial sans-serif;
    background-color: #F2F2F2;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
}

button {
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    transition: background-color 0.3s;
}

button:active {
    transform: scale(0.98);
}

button:hover {
    cursor: pointer;
}

h2 {
    font-size: 0.83vw;
}

.notes-container {
    padding: 6px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #ffffff
}

.notes-container>div {
    margin: 6px;
    border-radius: 10px;
}

.notes-container {
    justify-content: center;
    align-self: center;
}

.notes-container:last-child {
    margin-bottom: 50px;
}

.notes-container:hover {
    cursor: pointer;
}

#div-existing-notes{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    float: left;
}

#note-display{
    background-color: rgb(251, 251, 251);
    color: black;
    height: 100vh;
    width: 80%;
    margin: 0px;
    padding:0px;
}

#notes-bar{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 90vh;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.flex-container{
    display: flex;
}

.flex-container > div {
    padding: 20px;
    font-size: 2.3vw;
}

#flex-for-toolbox-and-notesbar{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 18%;
}

#div-for-toolbox{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 20%;
    margin-bottom: 20px;
    overflow: hidden;
}

#toolbox{
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding-top: 10px;
    display: inline-flex;
    width: 100%;
}

#logo-for-toolbox{
    align-self: left;
    justify-self: left;
    
}

#title-area{
    font-size: 1.35vw;
    margin-top: 100px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 90%;
    height: 10vh;
border: none;
outline: none;
}

#text-area{
    font-size: 0.83vw;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 90%;
    height: 50vh;
    margin-top: 90px;
    margin-bottom: 10px;
border: none;
outline: none;
    
}

.search_bar_class{
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    width: 100%;
}

#search_bar{
    border-radius:5px;
    border: none;
    outline: none;
    width: 100%;
    height: 34px;
}

#date-on-note-display{
    font-size: 0.68vw;
}

#div-existing-notes  div{
    margin-right: 20px;
}

#date-for-small-note{
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

#create_note_image {
    margin-right: 10px;
    height: 34px;
    width: 34px;
}

#logo{
    height: 34px;
    margin-left: 10px;
}

#delete-bin-image{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    width: 35px;
}

#date-for-small-note{
    font-size: 0.68vw;
}

.text{
    font-size: 0.68vw;
    max-width: 40ch;
    word-break: break-all;
}

#A4-Blatt{
    margin-left: 20vh;
    margin-right: 20vh;
}

#title-area{
    margin-bottom: 0px;
    height: 3.5vh;
}

p[contenteditable]:empty::before {
    content: "Gebe der Notiz einen Text"; 
    color: #aaa; 
    pointer-events: none; 
}

h2[contenteditable]:empty::before {
    content: "Gebe der Notiz einen Titel"; 
    color: #aaa; 
    pointer-events: none; 
}

h2[contenteditable]:focus::before {
    content: ""; 
}

p[contenteditable]:focus::before {
    content: ""; 
}

p:empty::before {
    content: "Gebe der Notiz einen Text"; 
    color: #aaa; 
    pointer-events: none; 
}

h2:empty::before {
    content: "Gebe der Notiz einen Titel"; 
    color: #aaa; 
    pointer-events: none; 
}

h2:focus::before {
    content: ""; 
}

p:focus::before {
    content: ""; 
}

#retract-button{
    position: relative;
    right: 0;
    left: 95%;
    top: 15vh;
    width: 34px;
    height: 34px;
    z-index: 100;
}

#retract-div{
    margin: 0px;
    padding: 0px;
    width: 1px;
    overflow: visible;
    overflow-y: visible;
    align-items: left;
    align-content: left;
    z-index: 1000;
}

@keyframes retract {
    0% { width: 18%; }
    100% { width: 0%; }
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(180deg); }
}

@keyframes rotate2 {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(0); }
}

@keyframes grow {
    0% { width: 0%; }
    100% { width: 18%; }
}

.rotate {
    animation: rotate 3s forwards;
}

.rotate2 {
    animation: rotate2 3s forwards;
}

.shrink {
    animation: retract 3s forwards;
  }

.grow {
    animation: grow 3s forwards;
}





