html {
    scroll-behavior: smooth;
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 0px;
    font-family: Tahoma, Helvetica, Arial sans-serif;
    background-color: rgb(230, 217, 217);
    color: white;
}

.notes-container {
    padding: 6px;
    margin-top: 12px;

    border-radius: 10px;
    background-color: #ffffff
}

.notes-container>div {
    margin: 6px;
    border-radius: 10px;
}

#delete-selected {
    color: rgb(255, 255, 255);
    background-color: #E1341E;
}

#delete-selected:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(135, 6, 6);
}

#select-all {
    color: rgb(255, 255, 255);
    background-color: #5370FF
}

#select-all:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 3, 115);
}

button {
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    transition: background-color 0.3s;
}

.green-background:hover {
    background-color: #005f00;
}

button:active {
    transform: scale(0.98);
}

.green-background {
    background-color: #3aac99;
    color: White
}

textarea {
    resize: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

label {
    width: auto;
    margin-right: 8px;
    font-weight: bold;
}

.add-notes-container div {
    margin: 12px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.add-notes-container div input,
textarea {
    width: 500px;
    background-color: rgba(72, 0, 255, 0.139);
    border-radius: 25px;
}

.add-notes-container div label {
    width: 50px;
    vertical-align: center;
    border-radius: 20px;
}

.notes-container {
    justify-content: center;
    align-self: center;
}

h1 {
    padding: 80px;
    padding-left: 920px;
    font-size: 70px;
}

#Title-Input,
#Text-Input {
    padding-left: 900px;
    margin-bottom: 50px;
}

#input {
    margin-left: 50px;
}

#addButton {
    margin-left: 240px;
}

#Text-Label, #Title-Label {
    margin-left: 1125px;
    margin-top: 10px;
    font-size: 20px;
}

img {
    margin-left: 10px;
}

.video-bg {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#NextBtn {
    background-color: transparent;
    border: 2px solid white;
    border-color: white;
    font-size: 30px;
    height: 50px;
    width: 250px;
}

#NextBtn:hover {
    background-color: grey
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: transparent;
    margin-bottom: 100px;
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.blend {
    position: relative;
    top: -100px;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgba(21, 31, 27, 0) 0%, rgba(21, 31, 27, 1) 100%);
    background-repeat: repeat-x;
}

.checkbox {
}

button:hover {
    cursor: pointer;
}

.notes-container:last-child {
    margin-bottom: 100PX;
}

.notes-container:hover {
    cursor: pointer;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#delete-selected {
    align-items: center;
    place-items: center;
    justify-content: center;
}

button > img {
    margin: 0px;
}

#textarea-add-note-text{
    font-size: 20px;
    background-color: #5370FF;
}

#input-add-note-title{
    font-size: 25px;
    height: 75px;
}

.btn{
    background-color: #005f00;
}

#div-existing-notes{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    float: left;
}

#note-display{
    background-color: blue;
    height: 90vh;
    width: 80%;
    margin-bottom: 20px;
}
#notes-bar{
    background-color: blueviolet;
    height: 90vh;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;

}

.flex-container{
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#div-for-toolbox{
    background-color: blueviolet;
    height: 90vh;
    width: 20%;
    margin-bottom: 20px;
    overflow: hidden;
}

#toolbox{
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 10px;
    display: inline-flex;
    width: 100%;
}

#Title{
    font-size: 26px;
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    
}

#Text{
    margin: 100px;
    font-size: 16px;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-right: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.logo{
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 10px;
}

.search_bar{
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.search_bar > input{
    border: none;
    outline: none;
}

#Title{
border: none;
outline: none;
}
#Text{
border: none;
outline: none;
}

