html{
    width: 100%;
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

#container{
    display: flex;
}

#B{

}

#A{
    position: fixed;
    display: flex;
    background-color: green;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    min-width: 370px;
}

