::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    font-family: 'inter';
}

:root {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    transition: background-color 0.3s;
}

p{
    word-break: break-word; 
    overflow-wrap: break-word; 
}

button:active {
    transform: scale(0.98);
}

button:hover {
    cursor: pointer;
}

.notes-container {
    width: 338px;
    margin-left: 16px;
    margin-right: 16px;
    height: 135px;
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: #ffffff
}

.notes-container>div {
    margin: 6px;
    border-radius: 10px;
}

.notes-container {
    justify-content: center;
    align-self: center;
}

.notes-container:last-child {
    margin-bottom: 100px;
}

.notes-container:hover {
    cursor: pointer;
}

#div-existing-notes {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    float: left;

}

#container-for-save-button{
    word-break: break-word; 
    overflow-wrap: break-word; 
    padding: 15px;
    margin: 15px;
    align-items: center;
    justify-items: center;
}

.notes-bar {
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    overflow-y: scroll;
}

.container {
    display: flex;
}

.sidebar {
    display: flex;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    flex: 0 0 370px
}

.main_content {
    background-color: rgb(255, 255, 255);
    word-break: break-word; 
    overflow-wrap: break-word; 
    overflow-x: hidden;
    color: black;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
    max-height: 100vh;
    flex: 1;
    z-index: 1;
}

#scroll-container{
    overflow-y: scroll;
    height: 100vh;
}

.toolbox {
    min-height: 80px;
    width: 370px;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    height: 100%;
    align-self: center;
    justify-self: center;
}

#logo {
    justify-self: left;
    align-self: center;
    height: 32px;
    width: 33px;
    margin-left: 15px;
}

#search-bar{
    z-index: 1;
    width: 250px;
    height: 34px;
}

.search-bar {
    align-items: center;
    justify-content: center;
    display: grid;
    width: 70%;
    height: 100%;
}

#search-bar-image{
    grid-column: 1;
    grid-row: 1;
}

#search-bar {
    margin-left: 5px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    width: 80%;
    height: 34px;
    position: relative;
    border: none;
    outline: none;
    padding: 0px;
}

.create-note {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

#create-note-image {
    align-self: center;
    justify-self: center;
    height: 24px;
    width: 24px;
    margin-right: 15px;
    margin-bottom: 4px;
}

#title-area {
    font-size: 26px;
    margin-top: 100px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 90%;
    height: auto;
    border: none;
    outline: none;
}

.note-display{
    word-break: break-word; 
    overflow-wrap: break-word;
}

#text-area {
    font-size: 16px;
    overflow: hidden;
    word-break: break-word; 
    overflow-wrap: break-word;
    width: 30vw;
    height: 100%;
    margin-top: 90px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    white-space: normal;
}

#date-on-main-content {
    font-size: 13px;
    color: #898989;
}

#div-existing-notes div {
    margin-right: 16px;
    margin-left: 16px;
}

#delete-bin-image {
    position: absolute;
    justify-self: right;
    right: 0;
    top: 0;
    margin: 25px;
    width: 35px;
}

.text {
    font-size: 0.68vw;
    max-width: 40ch;
    word-break: break-all;
}

.A4-Blatt {
    word-break: break-word; 
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 30vw;
    min-height: 90vh;
    max-height: 90vh;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#title-area {
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0px;
    height: auto;
}

p[contenteditable]:empty::before {
    content: "Gebe der Notiz einen Text";
    color: #aaa;
    pointer-events: none;
}

h2[contenteditable]:empty::before {
    content: "Gebe der Notiz einen Titel";
    color: #aaa;
    pointer-events: none;
}

h2[contenteditable]:focus::before {
    content: "";
}

p[contenteditable]:focus::before {
    content: "";
}

p:empty::before {
    content: "Gebe der Notiz einen Text";
    color: #aaa;
    pointer-events: none;
}

h2:empty::before {
    content: "Gebe der Notiz einen Titel";
    color: #aaa;
    pointer-events: none;
}

h2:focus::before {
    content: "";
}

p:focus::before {
    content: "";
}

#save-button{
    justify-self: center;
    align-self: center;
    margin: 30px;
}

#div-for-retract {
    height: 0px;
}

.vertical-line {
    left: 370px;
    width: 1px;
    background-color: #E7E7E9;
    height: 100vh;
    position: fixed;
}

.vertical-line-container {
    position: absolute;
    top: 0;
    left: 370px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.vertical-line-image {
    position: absolute;
    top: 12%;
    transform: translateY(-50%);
    width: 28px;
    height: auto;
}

.title{
    color: #303030;
    font-size: 16px;
    padding-top: 10px;
}

.text{
    color: #898989;
    font-size: 13px;
    word-break: break-word; 
    overflow-wrap: break-word; 
}

.datum{
    color: #898989;
    font-size: 13px;
}

[selected]{
    background-color: #F2F2F2;
}

@keyframes retract {
    0% {
        width: 370px
    }

    100% {
        width: 0px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes grow {
    0% {
        width: 10px;
    }

    100% {
        width: 370px;
    }
}

@keyframes growTo100 {
    0%{
        width: 80%;
    }

    100%{
        width: 100%;
    }
}

@keyframes shrinkTo80 {
    0%{
        width: 100%;
    }

    100%{
        width: 80%;
    }
}

@keyframes goLeft {
    0% {
        left: 370px;
    }

    100%{
        left: 10px
    }
}

@keyframes goRight {
    0% {
        left: 10px;
    }

    100%{
        left: 370px
    }
}

@keyframes close-sidebar {
    0%{
        min-width: 370px;
        max-width: 370px;
    }

    100%{
        min-width: 0px;
        max-width: 0px;
        
    }
    
}

@keyframes open-sidebar {
    0%{
        min-width: 0px;
        max-width: 0px;
        
    }
    
    100%{
        min-width: 370px;
        max-width: 370px;
    }
}